## Kernel module compile temporaries
.tmp_versions
*.tmp
*.cmd
*.mod
*.o
*.symvers
*.order

## Debug folder
vm/debug

## gdb debuging history
.gdb_history

## ida reversing datas
.id0
.id1
.id2
.nam
.til
